@import "@/theme/variables.scss";

.ImageCardList {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 44px;
  margin-bottom: 44px;
  width: 100%;
}

.NoInternetIcon {
  width: 240px;
  height: 240px;
  color: $black-main;
}
