$box-shadow-input: 0 0 5px 0.5px rgba(0, 0, 0, 0.5);
$box-shadow-input-hover: 0 0 8px 0.5px rgba(0, 0, 0, 0.5);

$box-shadow-button: 0px 77px 31px rgba(0, 0, 0, 0.01),
  0px 19px 19px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1),
  0px 0px 0px rgba(0, 0, 0, 0.1);
